<div class="container">
    <div class="header">
        <img class="logo" src="https://didiserv.co.za/wp-content/uploads/2021/07/logo-Didiserv-300px.png">
    </div>
    <div class="navbar">
            <ul>
                <li><a href="/index">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/invoices">Invoices</a></li>
                <li><a href="/contact">Contact Us</a></li>
            </ul>                
    </div>
    <h1>About Us</h1>
    
    <p class="about">Didiserv guides business owners in every aspect they need,
        to accomplish their business ventures well and effectively.
        We are a modern technology team that's enthusiastic about using
        online platforms that are relevant and current to make the business
        owner's job anti-complex in every way possible.</p>

    <div class="slider">
        <div class="rotator">
            <div class="items">
            <img src="https://didiserv.co.za/wp-content/uploads/2021/08/Home-page-no-background.png" alt="items photo" />
            </div>
            <div class="items">
            <img src="https://www.ceccarbusinessreview.ro/img/w-660/h-0/imagini/articole/2020/11/challenges-and-trends-for-the-incorporation-of-big-data-in-the-accounting-profession-from-the-traditional-a84.jpg" />
            </div>
            <div class="items">
            <img src="https://www.entrepreneurshipinabox.com/wp-content/uploads/accounting-services.jpeg" alt="items photo" />
            </div>
        </div>
        
    </div>
        <br>

    <div class="columns">
        <div class="first">
            <h2>Our Duty</h2>
            <ul class="bullets">
                <li>Offer outstanding financial and professional services.</li>
                <li>To maintain the maximum standard of integrity and professionalism</li>
                <li>Grow the highest levels of integrity and professionalism</li>
                <li>Aid clients cultivate long term success</li>
                <li>Create trust between employees and clients</li>
                <li>Creating a dynamic and innovative workplace</li>
            </ul>
        </div>
        <div class="vl"></div>
        <div class="second">
            <h2>Our Innovation</h2>
            <ul class="bullets">
                <li>Regional recognition as the choice of the accounting company</li>
                <li>Invest in clients and technology to achieve business growth</li>
                <li>Work with imaginative and zealous staff</li>
                <li>Sustain and gain meaningful business relationships</li>
                <li>Achieve technical excellence</li>
                <li>Create an environment in which we can be proactive and responsive to our clients.</li>
            </ul>
        </div>
    </div>
    <h5>Featured with:</h5>
    <div class="companies">
        <div class="one">
            <img class="mage" src="https://didiserv.co.za/wp-content/uploads/2021/08/Logo_PNGsmall.png">
        </div>
        <div class="two">
            <img class="mage" src="https://didiserv.co.za/wp-content/uploads/2021/08/za-logo.jpg">
        </div>
        <div class="three">
            <img class="mage" src="https://didiserv.co.za/wp-content/uploads/2021/08/MM-Logo-1a-1-e1628792554934.png">
        </div>
        <div class="four">
            <img class="mage" src="https://didiserv.co.za/wp-content/uploads/2021/08/logo-full-e1628792534544.png">
        </div>
        <div class="five">
            <img class="mage1" src="https://didiserv.co.za/wp-content/uploads/2021/08/logo-1-1.png">
        </div>
    </div>
    <h3>Most Affordable Digital Accountant</h3>
    <p class="about">The solution that your business has been waiting for:
        increased real-time access to information, data accuracy,
        and simplified financial information. Let's use technology to create closeness,
        not as an excuse for distance</p>

    <div class="footer">
        <div class="number">
            <p>(+27)-61-547-2439</p>
            <p>info@didiserv.co.za</p>
        </div>
        <div class="links">
            <a class="down" href="https://didiserv.co.za/about/">About</a>
            <a class="down" href="https://didiserv.co.za/pricing/blackfriday/">Black Friday</a>
            <a class="down" href="https://didiserv.co.za/blog/">Blog</a>
            <a class="down" href="https://didiserv.co.za/shop/cart/">Cart</a>
            <a class="down" href="https://didiserv.co.za/client-details/">Client Details</a>
        </div>
        <div class="social">
            <a href="https://didiserv.co.za/facebook" class="fa fa-facebook"><ion-icon name="logo-facebook"></ion-icon></a>
            <a href="https://didiserv.co.za/twitter" class="fa fa-twitter"><ion-icon name="logo-twitter"></ion-icon></a>
            <a href="https://didiserv.co.za/google" class="fa fa-google"><ion-icon name="logo-google"></ion-icon></a>
            <a href="https://didiserv.co.za/linkedin" class="fa fa-linkedin"><ion-icon name="logo-linkedin"></ion-icon></a>
            <a href="https://didiserv.co.za/instagram" class="fa fa-instagram"><ion-icon name="logo-instagram"></ion-icon></a>
        </div>
    </div>
    &copy;
    <span>&#169;</span>
    

</div>