<div class="container">
    <div class="header">
        <img class="logo" src="https://didiserv.co.za/wp-content/uploads/2021/07/logo-Didiserv-300px.png">
    </div>
    <div class="navbar">
            <ul>
                <li><a href="/index">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/invoices">Invoices</a></li>
                <li><a href="/contact">Contact Us</a></li>
            </ul>                
    </div>
    <div class="bdy">
        <h1>Contact Us</h1>
        <p>You can contact us any time with all your queries. </p>
    </div>

    <div class="footer">
        <div class="number">
            <p>(+27)-61-547-2439</p>
            <p>info@didiserv.co.za</p>
        </div>
        <div class="links">
            <a class="down" href="https://didiserv.co.za/about/">About</a>
            <a class="down" href="https://didiserv.co.za/pricing/blackfriday/">Black Friday</a>
            <a class="down" href="https://didiserv.co.za/blog/">Blog</a>
            <a class="down" href="https://didiserv.co.za/shop/cart/">Cart</a>
            <a class="down" href="https://didiserv.co.za/client-details/">Client Details</a>
        </div>
        <div class="social">
            <a href="https://didiserv.co.za/facebook" class="fa fa-facebook"><ion-icon name="logo-facebook"></ion-icon></a>
            <a href="https://didiserv.co.za/twitter" class="fa fa-twitter"><ion-icon name="logo-twitter"></ion-icon></a>
            <a href="https://didiserv.co.za/google" class="fa fa-google"><ion-icon name="logo-google"></ion-icon></a>
            <a href="https://didiserv.co.za/linkedin" class="fa fa-linkedin"><ion-icon name="logo-linkedin"></ion-icon></a>
            <a href="https://didiserv.co.za/instagram" class="fa fa-instagram"><ion-icon name="logo-instagram"></ion-icon></a>
        </div>
    </div>

</div>