<div class="container">
    <div class="header">
        <img class="logo" src="https://didiserv.co.za/wp-content/uploads/2021/07/logo-Didiserv-300px.png">
    </div>
    <div class="navbar">
            <ul>
                <li><a href="/index">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/invoices">Invoices</a></li>
                <li><a href="/contact">Contact Us</a></li>
            </ul>                
    </div>

    <h3>DIDISERVE EMPOWERS BUSINESS</h3>
    {{!-- <button type="submit">
        <a href="https://meetings.hubspot.com/siphethuxolo" class="demo">Get Demo</a>
    </button> --}}

    <div class="content">
        <div class="left">
            <h6>Digital accounting to grow your business</h6>


            <p>You have been searching for a tech-savvy digital accountant to help you operate your business successfully, you are home with us.</p>
            
            <h4>We also featuring Xero, checkout! &darr;</h4>
            
            <iframe width="420" height="315"
            src="https://www.youtube.com/embed/bHtC0sDaA7Y" allowfullscreen>
            </iframe>
            

            <h4> Find out more about Didiserv Advisor with Xero certification</h4>
            <a href="https://www.xero.com/za/advisors/accountant/didiserv-digital-accountants-dd970f3d67f0/">Dididserve | Xero Advisor</a>

        </div>
        <div class="right">
            <img class="picture" src="https://5.imimg.com/data5/OC/GG/RD/SELLER-10413976/business-and-professional-accounting-services-500x500.jpg">
            
                <h3>The Right Tools To Face Any Business Challenge</h3>
                <p>We are Xero Silver Partner Partners and have 8 years experience with using Xero.

                Didiserv Digital Accountants has partnered with Xero to bring the latest cloud accounting technology to South African and African small businesses.

                Whatever your needs, Didiserv has the right expertise for you.</p>
            
        </div>
    </div>
    <p>Upload documents bellow:</p>
    <form action="/invoices">
    <label for="myfile"><span class="file">Select a file:</span></label>
    <input type="file" id="myfile" name="myfile"><br><br>
    <input type="submit"><a href="/"></a>
    </form>
    
    <hr>
    <div class="footer">
        <div class="number">
            <p>(+27)-61-547-2439</p>
            <p>info@didiserv.co.za</p>
        </div>
        <div class="links">
            <a class="down" href="https://didiserv.co.za/about/">About</a>
            <a class="down" href="https://didiserv.co.za/pricing/blackfriday/">Black Friday</a>
            <a class="down" href="https://didiserv.co.za/blog/">Blog</a>
            <a class="down" href="https://didiserv.co.za/shop/cart/">Cart</a>
            <a class="down" href="https://didiserv.co.za/client-details/">Client Details</a>
        </div>
        <div class="social">
            <a href="https://didiserv.co.za/facebook" class="fa fa-facebook"><ion-icon name="logo-facebook"></ion-icon></a>
            <a href="https://didiserv.co.za/twitter" class="fa fa-twitter"><ion-icon name="logo-twitter"></ion-icon></a>
            <a href="https://didiserv.co.za/google" class="fa fa-google"><ion-icon name="logo-google"></ion-icon></a>
            <a href="https://didiserv.co.za/linkedin" class="fa fa-linkedin"><ion-icon name="logo-linkedin"></ion-icon></a>
            <a href="https://didiserv.co.za/instagram" class="fa fa-instagram"><ion-icon name="logo-instagram"></ion-icon></a>
        </div>
    </div>
    
</div>
